.hero {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;   
}
.hero-contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
    position: absolute;
    top: 0;
}
.hero-left {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text {
    padding: 50px;
    padding-top: 100px;
}
.text p {
    text-transform: uppercase;
    color: blueviolet;
    font-size: .8rem;
}
.text h5 {
    text-transform: uppercase;
    color: blueviolet;
    font-size: 1rem;
    
}
.text h4 {
    font-size: 1.5rem;
    
}
.hero-button {
    padding: 10px 20px;
    background-color: #F32424;
    border: none;
    color: white;
    margin-top: 3px;
    cursor: pointer;
    transition: all 5s ease-in-out;
}
.hero-button:hover {
    background-color: white;
    color: #F32424;
}
.hero-right {
    flex: 2;
    background-color: rgba(137, 43, 226, 0.199);
    display: flex;
    align-items: flex-end;
}

.icons {
    color: blueviolet;
    font-size: 1.5rem;
    margin: 10px 0;
}