.c {
    display: flex;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
}
.c-l {
    flex: 1.7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.t-l p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}
.c-c-t{
    padding: 0;
    margin: 0;
}
.c-r {
    flex: 1;
    display: flex;
    background-color: #F32424;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 40px;
}
.c-r form input {
    width: 300px;
    margin: 10px 0;
    padding: 5px 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    
}
.c-r form input::placeholder {
    color: white;
}
.c-r form textarea {
    width: 300px;
    outline: none;
}
.c-r form button {
    background-color: #F32424;
    padding: 10px 30px;
    margin: 10px 0;
    color: white;
    border: 1px solid white;

}
.c-r form button:hover {
    color: #F32424;
    background-color: white;
}
.call {
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.call-text {
    margin-left: 20px;
}