
.w {
    width: 90%;
    margin: 1px auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.w-l {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
    
}
.w-l h2 {
    font-size: 1.8rem;
    font-family: sans-serif;
}
.w-l span {
    color: #F32424;
}
.w-l button {
    padding: 10px 20px;
    background-color: #F32424;
    color: white;
    border: none;
    margin: 15px 0;
    cursor: pointer;
    transition: all 5s ease-in-out;
}

.w-l button:hover {
    color: #F32424;
    background-color: white;
    
}
.w-r {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    position: relative;
}
.w-c {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 15px 1px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.w-i {
    position: absolute;
    height: 7rem;
    width: 7rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 1px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.w-c > :nth-child(1) {
    transform: scale(0.7);
    top: -2rem;
    left: 6rem;
}
.w-c > :nth-child(2) {
    transform: scale(0.7);
    top: 5rem;
    left: -3rem;
}
.w-c > :nth-child(3) {
    transform: scale(0.7);
    top: 5rem;
    left: 12rem;
}
.w-c > :nth-child(4) {
    transform: scale(0.7);
    top: 12rem;
    left: 5rem;
}
.w-s{
    position: absolute;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 1px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: scale(0.7);
    background-color: #f32424b7;
}